body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Header */
#header-container {
    background: rgb(17, 93, 56);
    width: 378px;
    height: 235px;
}

header {
    padding-top: 15px;
}

#header-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#header-nav img {
    width: 40px;
    height: 40px;
}

.header-nav-right-container {
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-right-container span {
    width: 30px;
    height: 30.8px;
    border: 1px solid rgb(40, 109, 76);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-stats-container {
    height: 84px;
    background: rgb(76, 208, 129);
    display: flex;
    justify-content: center;
    padding: 0 12px;
    box-sizing: border-box;
}

.stats-grid {
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: 100%;
    align-items: center;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 48.4px;
    font-weight: 400;
    position: relative;
}

.stats-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.09px;
    height: 57px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.stats-item .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

.stats-item strong {
    font-weight: 600;
    margin-top: 4px;
}

#header-action-buttons-container {
    position: relative;
    border-radius: 3px;
    height: 84px;
    background: rgb(76, 208, 129);
    display: flex;
    justify-content: center;
    margin: 12px 12px;
    box-sizing: border-box;
}

.action-button-grid {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 100%;
    align-items: center;
}

.action-button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 48.4px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.action-button-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.09px;
    height: 57px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

/* Main Content */
#main-content {
    height: 577px;
    background: white;
    overflow: hidden;
}

.main-content-position {
    display: flex;
    justify-content: center;
}

#reference-incomes {
    background: rgba(16, 93, 56, 1);
    margin-top: 60px;
    width: 327px;
    height: 124px;
    border-radius: 5px;
    padding: 6px 12px;
    color: white;
    font-weight: 400px;
}

.reference-incomes-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
}

/* Calendar Container */
.calendar-dropdown-container {
    display: inline-block;
    position: relative;
}

.calendar-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 3px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 8px;
    font-weight: 400;
    color: rgba(151, 151, 151, 1);
    cursor: pointer;
    gap: 8px;
    width: 60px;
    height: 24px;
}

.calendar-dropdown-button svg {
    color: rgba(151, 151, 151, 1);
}

.calendar-dropdown-arrow {
    color: rgba(151, 151, 151, 1);
    font-size: 12px;
    margin-left: auto;
}

.income {
    display: flex;
    align-items: start;
    font-size: 22px;
    font-weight: 700;
    padding: 2px;
}

.reference {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
    line-height: 19.6px;
    padding: 6px 2px;
    text-align: left;
}

.reference span {
    display: flex;
    align-items: start;
    font-size: 12px;
}

.reference button {
    font-family: DM Sans;
    width: 128px;
    height: 33px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: rgb(76, 208, 129);
    border: 1px solid rgb(76, 208, 129);
    border-radius: 5px;
    padding: 3px;
}

#status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 351px;
    height: 40px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.status {
    font-size: 14px;
    width: 65.44px;
    height: 30px;
    display: flex;
    border-radius: 5px 0px 0px 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(15, 83, 50, 1);
    padding: 0 10px;
    color: white;
}

.status-description {
    width: 100%;
    color: rgba(15, 83, 50, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.status-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    width: 351px;
    margin-top: 10px;
}

.status-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pause-button {
    background: rgba(255, 240, 204, 1);
    color: rgba(255, 149, 0, 1);
    font-size: 12px;
    line-height: 19px;
    border: none;
    border-radius: 3px;
    padding: 4px 8px;
    height: 33px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: 110px;
}

.pause-icon {
    font-size: 18px;
}

.total-earnings {
    display: flex;
    align-items: center;
    background: rgba(220, 255, 239, 1);
    border-radius: 3px;
    gap: 24px;
    width: fit-content;
    width: 229px;
    height: 33px;
    padding: 0 8px;
    margin-left: 12px;
}

.total-earnings span {
    font-size: 12px;
    color: rgba(17, 93, 56, 1);
}

.earnings-details {
    display: flex;
    align-items: center;
    gap: 8px;
}

.earnings-details svg {
    color: rgba(76, 208, 129, 1);
}

.earnings-details strong {
    font-size: 10px;
    font-weight: 700;
    color: rgba(17, 93, 56, 1);
}

.testimonial-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(220, 255, 239, 1);
    border-radius: 8px;
    padding: 3px 8px;
    width: 100%;
    box-sizing: border-box;
}

.testimonial-section span {
    font-size: 12px;
    color: rgb(76, 208, 129);
}

.testimonial-images {
    display: flex;
    gap: 8px;
    align-items: center;
}

.testimonial-images img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.arrow-icon {
    color: rgb(76, 208, 129);
    font-size: 12px;
    font-weight: bold;
}

.bottom-navigation {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background: white;
    height: 107px;
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 76px;
    color: rgba(151, 151, 151, 1);
    cursor: pointer;
}

.nav-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item span {
    margin-top: 8px;
    font-size: 10px;
}

.indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    background: rgba(200, 200, 200, 1);
    border-radius: 10px;
}

/* Footer */
footer {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 25px;
}

.footer-line {
    width: 134px;
    height: 4px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}
