body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#header-container {
    background: rgb(17, 93, 56);
    width: 378px;
    height: 235px;
}

header {
    padding-top: 15px;
}

#header-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#header-nav img {
    width:40px;
    height: 40px;
}

.header-nav-right-container {
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-right-container span {
    width: 30px;
    height: 30.8px;
    border: 1px solid rgb(40, 109, 76);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-stats-container {
    height: 84px;
    background: rgb(76, 208, 129);
    display: flex;
    justify-content: center;
    padding: 0 12px;
    box-sizing: border-box;
}

.stats-grid {
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: 100%;
    align-items: center;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 48.4px;
    font-weight: 400;
    position: relative;
}

.stats-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.09px;
    height: 57px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.stats-item .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

.stats-item strong {
    font-weight: 600;
    margin-top: 4px;
}

#header-action-buttons-container {
    position: relative;
    border-radius: 3px;
    height: 84px;
    background: rgb(76, 208, 129);
    display: flex;
    justify-content: center;
    margin: 12px 12px;
    box-sizing: border-box;
}

.action-button-grid {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 100%;
    align-items: center;
}

.action-button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 48.4px;
    font-weight: 400;
    position: relative;
}

.action-button-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.09px;
    height: 57px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

/* Footer */
footer {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-line {
    width: 134px;
    height: 4px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}

/* Main Content */
#main-content {
    height: 577px;
    background: white;
}